# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/



.venv/
__pycache__/
vector_store/
data/images/

.venv/
__pycache__/


data/images/
data/myntradataset/

.streamlit/
